{%extends "base.html" %}
{% block title %} TRANG CÁ NHÂN {%endblock%}
{% block css %}AfterUser1.css{%endblock%}

{%block nutHeader%}
            <i class="fa-solid fa-bell"></i>
            <li class="nut-tkct">
                <a href="afteruser2">
                    <button class=”myButton” >Đổi điểm</button>
                </a>
            </li>
{%endblock%}

{% block container %}
    <div class="container">

        <br><br><br><br><br><br>

        <h1>
            <b>
                Chào mừng User!
            </b>
        </h1>

        <br>

        <!-- ! thống kê đổi điểm -->
        <h2>
            👉 <div class="EMERALD">Emerald</div> tích luỹ hiện tại: 1000 điểm
        <br> <br>
            👉 Thống kê đổi <div class="diem">Emerald</div>
        </h2>

        <br>

        <!-- ! Table 1 -->
        <table class="table">
            <thead>
                <tr>
                    <th scope="col"><h3><b>VẬT DỤNG</b></h3></th>
                    <th scope="col"><h3><b>THỜI GIAN</b></h3></th>
                    <th scope="col" style="color: #00764C"><h3><b>EMERALD</b></h3></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">Mã giảm giá cửa hàng tiện lợi CircleK</th>
                    <td>16h 28/3/2023</td>
                    <td>-100</td>
                </tr>
                <tr>
                    <th scope="row">Mã giảm giá bách hoá Trâu Quỳ</th>
                    <td>8h 30/4/2023</td>
                    <td>-150</td>
                </tr>
                <tr>
                    <th scope="row">Tăm bông</th>
                    <td>6h30 1/5/2023</td>
                    <td>-1200</td>
                </tr>
            </tbody>
        </table>

        <br><br>

        <!-- ! lịch sử tích điểm  -->
        <div class="lich-su">
            <h2>👉 Lịch sử tích <div class="LS-diem">Emerald</div></h2>
        </div>

        <br>

        <!-- ! Table 2 -->
        <table class="table">
            <thead>
                <tr>
                    <th scope="col"><h3><b>MÃ ĐƠN HÀNG</b></h3></th>
                    <th scope="col"><h3><b>THỜI GIAN</b></h3></th>
                    <th scope="col" style="color: #00764C"><h3><b>EMERALD</b></h3></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">CJKJAKJCLKEOIW81951235</th>
                    <td>16h 28/3/2023</td>
                    <td>+100</td>
                </tr>
                <tr>
                    <th scope="row">CJKAJCKJKDJKFJ819891235</th>
                    <td>8h 30/4/2023</td>
                    <td>+150</td>
                </tr>
                <tr>
                    <th scope="row">CJAkJCK18598219JCKAJCK</th>
                    <td>6h30 1/5/2023</td>
                    <td>+ 1200</td>
                </tr>
            </tbody>
        </table>

        <br><br>

        <!-- ! nhắc nhở mua hàng -->
        <div class="nhac-nho">
            <h2>👉 Nhắc nhở mua hàng</h2>
            <button class="btn text-success my-2 table-add ">
                <i class="fa-solid fa-plus"></i>
            </button>
            <button class="btn text-success my-2 table-safe ">
                <i class="fa-regular fa-floppy-disk"></i>
            </button>
        </div>

        <!-- ! Table 3 -->
        <table class="table">
            <thead>
                <tr style="background-color: #FFC0CB;">
                    <th scope="col" ><h3><b>MÓN ĐỒ CẦN MUA</b></h3></th>
                    <th scope="col"><h3><b>THỜI GIAN</b></h3></th>
                    <th scope="col" ><h3><b>ĐỊA ĐIỂM</b></h3></th>
                    <th scope="col"><h3><b>XÓA</b></h3></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td contenteditable="true"><b>Bút chì, tẩy, gọt</b></td>
                    <td contenteditable="true">16h 28/3/2023</td>
                    <td contenteditable="true">AEON MALL LONG BIÊN</td>
                    <td> 
                        <button class="btn text-success my-2 table-delete ">
                            <i class="fa-solid fa-trash"></i>
                        </button>
                    </td>
                </tr>
                <tr>
                    <td contenteditable="true"><b>Bơ, xoài</b></td>
                    <td contenteditable="true">8h 30/4/2023</td>
                    <td contenteditable="true">Happy market</td>
                    <td> 
                        <button class="btn text-success my-2 table-delete ">
                            <i class="fa-solid fa-trash"></i>
                        </button>
                    </td>
                </tr>
                <tr>
                    <td contenteditable="true"><b>Nước</b></td>
                    <td contenteditable="true">6h30 1/5/2023</td>
                    <td contenteditable="true">CircleK</td>
                    <td> 
                        <button class="btn text-success my-2 table-delete ">
                            <i class="fa-solid fa-trash"></i>
                        </button>
                    </td>   
                </tr>
            </tbody>
        </table>
    </div>

    <BR><BR><BR>    
{%endblock%}