<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <title>{% block title %}{%endblock%}</title>
    <link rel="icon" type="image/png" href="static/img/icon.png">
    <link rel="stylesheet" href="static/style/{% block hetcuu %}{% endblock %}">
    <link rel="stylesheet" href="static/style/{% block css %}{% endblock %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
</head>
<body>
    <header>
        <greenlive>
            <a href="/">GREENLIVE</a>
        </greenlive>
        <input class="menu-btn" type="checkbox" id="menu-btn" />
        <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
        <ul class="menu">
            <lienhe>
                LIÊN HỆ <b>0388029188</b>
            </lienhe>
            {%block nutHeader%}{%endblock%}
            <!-- <li class="nut-dang-nhap">
                <a href="login">
                    <button class=”myButton2”>ĐĂNG NHẬP</button>
                </a>
            </li>
            <li class="nut-dang-ki">
                <a href="register">
                    <button class=”myButton”>ĐĂNG KÍ</button>
                </a>
            </li> -->
        </ul>
    </header>
    <br><br><br>
    {% with messages = get_flashed_messages(with_categories=true) %} {% if
        messages %} {% for category, message in messages %} {% if category ==
        'error' %}
        <div class="alert alert-danger alter-dismissable fade show" role="alert">
          {{ message }}
          <button type="button" class="close" data-dismiss="alert">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        {% else %}
        <div class="alert alert-success alter-dismissable fade show" role="alert">
          {{ message }}
          <button type="button" class="close" data-dismiss="alert">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
    {% endif %} {% endfor %} {% endif %} {% endwith %}

    {% block container %}{% endblock %}

    <footer>
        <div class="contact_us">
            <h1>
                <b>Contact Us</b>
            </h1> 
            <h3>
                Đại diện nhóm 6: Nguyễn Mai Nhật Anh <br> SĐT: 0388029188 </br>
            </h3>
        </div>
        <div class="SM">
            <h1>
                <b>Social media</b>
            </h1>
            <div class="home__social">
                <a href="https://www.facebook.com/groups/218015441196731" target="_blank" class="home__social-icon"><i
                        class="fab fa-facebook"></i></a>
                <a href="https://www.instagram.com/minkalexvina/" target="_blank" class="home__social-icon"><i
                        class="fab fa-instagram"></i></a>
                <a href="http://youtube.com/c/minkalexvina/" target="_blank" class="home__social-icon"><i
                        class="fab fa-youtube"></i></a>
            </div>
        </div>
        <div class="end">
            <br>
            Copyright @ GreenLive2023
        </div>
    </footer>                                                         
</body>
</html>