<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <title>Home Page</title>
    <link rel="icon" type="image/png" href="static/img/icon.png">
    <link rel="stylesheet" href="static/style/homepage.css">
    <link rel="stylesheet" href="static/style/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
</head>
<body>
    <header>    
        <greenlive>
            <a href="#">GREENLIVE</a>
        </greenlive>
        <input class="menu-btn" type="checkbox" id="menu-btn" />
        <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
        <ul class="menu">
            <lienhe>
                LIÊN HỆ <b>0388029188</b>
            </lienhe>
            <li class="nut-dang-nhap">
                <a href="login">
                    <button class=”myButton2”>ĐĂNG NHẬP</button>
                </a>
            </li>
            <li class="nut-dang-ki">
                <a href="register">
                    <button class=”myButton”>ĐĂNG KÍ</button>
                </a>
            </li>
        </ul>
    </header>
    <div class="container">
        <div class="background-gioithieu">
            <div class="gioithieu">
                <h1>
                    GIỚI THIỆU VỀ GREENLIVE
                </h1>
                <h3>
                    GREEN LIVE là một trang web, trong tương lai sẽ trở thành app với sứ mệnh trở thành một người bạn trong việc thay đổi thói quen của người tiêu dùng, tạo nền tảng thân thiện, an toàn để người dùng có những trải nghiệm môi trường ý nghĩa nhất. Lấy cảm hứng từ hình ảnh chú rùa bị mắc kẹt trong túi ni lông, GREEN LIVE mong muốn thay đổi thói quen mua hàng sử dụng bao bì nhựa - thứ đã trở thành thói quen của người Việt - để hiện thực hóa thói quen mang theo chiếc làn, túi vải hay bình nước cá nhân trên tay mỗi khi ta ra ngoài mua hàng.
                </h3>
            </div>
        </div>
        <article>
            <h3>
                Sứ mệnh <br>
            </h3>
            <div class="rec">
                <img src="static/img/Picture1.png" alt="">
                <div class="content">
                    "GREEN LIVE có sứ mệnh tạo ra một thế giới không rác thải, một thế giới hạnh phúc, góp phần vào việc xây dựng một tương lai bền vững. Trong tương lai, GREEN LIVE mong muốn rằng sẽ biến sắc XANH trở thành xu hướng chính của chuỗi liên kết trong tương lai.
                </div>
            </div>
        </article>  
        <br>
        <div class="CD">
            <ul><a href="https://www.facebook.com/groups/218015441196731">Cộng đồng</a></ul>
        </div>
        <br><br><br><br>
    </div>              
    <footer>
        <div class="contact_us">
            <h1>
                <b>Contact Us</b>
            </h1> 
            <h3>
                Đại diện nhóm 6: Nguyễn Mai Nhật Anh <br> SĐT: 0388029188 </br>
            </h3>
        </div>
        <div class="SM">
            <h1>
                <b>Social media</b>
            </h1>
            <div class="home__social">
                <a href="https://www.facebook.com/groups/218015441196731" target="_blank" class="home__social-icon"><i
                        class="fab fa-facebook"></i></a>
                <a href="https://www.instagram.com/minkalexvina/" target="_blank" class="home__social-icon"><i
                        class="fab fa-instagram"></i></a>
                <a href="http://youtube.com/c/minkalexvina/" target="_blank" class="home__social-icon"><i
                        class="fab fa-youtube"></i></a>
            </div>
        </div>
        <div class="end">
            <br>
            Copyright @ GreenLive2023
        </div>
    </footer>                                                         
</body>
</html>