@import url('https://fonts.googleapis.com/css2?family=Open+Sans');


*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

header greenlive a{
    font-family: 'Open Sans', sans-serif;
    font-style: bold;
    font-weight: 800;
    font-size: 32px;
    line-height: 48px;
    color: #00764C;
    flex: none;
    order: 0;
    flex-grow: 0;
    float: left;
    margin-left: 100.56px;
    margin-top: 28px;
    text-decoration: none;
}

header .nut-doi-diem  a button{
    border-radius: 100px;
    width: 150px;
    height: 44px;   
    background-color: #00764C;
    font-weight: bolder;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    float:right;
    margin-right: 100.56px;
    margin-top: 30px;
    border: 0px;
    text-decoration: none;
}

header .bell a{
    margin-right: 20px;
    float: right;
    margin-top: 40px;
}

header greenlive a:hover{
    color: #00764C;
    text-decoration: none;
}

header lienhe{
    float: right;
    margin-right: 20px;
    width: 159px;
    height: 20px;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.01em;
    color: #00764C;
    margin-top: 42px;
}