@import url('https://fonts.googleapis.com/css2?family=Open+Sans');

*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}
header {
    padding: 10px;
}
header greenlive a{
    font-family: 'Open Sans', sans-serif;
    font-style: bold;
    font-weight: 800;
    font-size: 32px;
    color: #00764C;
    flex: none;
    order: 0;
    flex-grow: 0;
    text-decoration: none;
    margin-left: 30px;
    margin-right: 20px;
}
header lienhe{
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.01em;
    color: #00764C;
    margin-right: 30px;
}

header .nut-dang-nhap  a button{
    border-radius: 100px;
    border: 0px;
    width: 111px;
    height: 44px;   
    background-color: #00764C;
    font-weight: bolder;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
}

header .nut-dang-ki a button{
    border-radius: 100px;
    border: 0px;
    width: 111px;
    height: 44px;   
    background-color: #00764C;
    font-weight: bolder;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    margin-right: 30px;
}

.background-gioithieu {
    background: url(../img/slider.jpg);
    width: calc(100% - 60px);    
    height: 670px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
}
.gioithieu {
    border-radius: 10px;
    background-color: #fff;
    padding: 30px;
}
.gioithieu h1{
    margin-top: 30px;
    size: 14px;
    color: #121212; 
    font-family: 'Open Sans', sans-serif;
    font-size: 36px;
    font-weight: 600;
    text-align: center;
}

article h3{ 
    Width: 153px;
    height: 48px;
    margin-left: 160px;
    margin-top: 50px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;
    color: #00764C;
}

article .rec{
    height: 350px;
    margin-top: 20px;
    margin-left: 40px;
    padding: 30px;
    background-color: #ECEEF9;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

article img {
    width: 40%;
    max-height: 90%;
}

article .content{
    width: calc(60%-20px);
    margin-left: 20px;
    font-family: 'Open Sans', sans-serif;
    float: right;
}
