@import url('https://fonts.googleapis.com/css2?family=Open+Sans');

*{
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  scroll-behavior: smooth;
}

header {
  background-color: #fff;
  box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
  position: fixed;
  width: 100%;
  z-index: 3;
  padding: 10px;
}

header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: #fff;
}

header li a {
  display: block;
  text-decoration: none;
  margin-left: 10px;
}

header .logo {
  display: block;
  float: left;
  font-size: 2em;
  padding: 10px 20px;
  text-decoration: none;
}

header greenlive a{
  font-family: 'Open Sans', sans-serif;
  font-style: bold;
  font-weight: 800;
  font-size: 32px;
  color: #00764C;
  flex: none;
  order: 0;
  flex-grow: 0;
  text-decoration: none;
  margin-left: 30px;
  margin-right: 20px;
}

header greenlive a:hover{
  color: #00764C;
  text-decoration: none;
}

header lienhe{
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.01em;
  color: #00764C;
  margin-right: 20px;
}



header .nut-tkct a button{
  border-radius: 100px;
  border: 0px;
  width: 150px;
  height: 44px;   
  background-color: #00764C;
  font-weight: bolder;
  color: #fff;font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  margin-left: 20px;
  margin-right: 20px;
}

header .menu-icon .navicon:before,
header .menu-icon .navicon:after {
    background: #333;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}


header .menu {
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* menu icon */

header .menu-icon {
  cursor: pointer;
  /* display: inline-block; */
  float: right;
  margin-right: 30px;
  padding: 21px;
  position: relative;
  user-select: none;
}



header .menu-icon .navicon {
  background: #333;
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
}

header .menu-icon .navicon:before {
    top: 5px;
}

header .menu-icon .navicon:after {
    top: -5px;
}

/* menu btn */
header .menu-btn {
  display: none;
}

header .menu-btn:checked ~ .menu {
  max-height: 240px;
}

header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}



/* responsive */
@media screen and (min-width: 1000px) {
  header li {
      float: left;
  }
  header .menu {
      clear: none;
      float: right;
      max-height: none;
  }
  header .menu-icon {
      display: none;
  }
}
@media screen and (max-width: 1000px) {
  .menu {
      flex-direction: column;
      align-items: start;
  }
  .menu li {
      margin-left: 30px;
      align-self: flex-start;
      margin-bottom: 15px;
  }
  .menu li a {
      padding: 0px;
      margin-left: 0px;
  }
  lienhe {
      margin-left: 30px;
      margin-top: 15px;
      margin-bottom: 15px;
      align-self: flex-start;
  }
}

.don-hang h5 { 
    margin-left: 30px;
}   

h4 {
  color:#6aa040;
  text-align: center;
  font-size: 35px;
}

.row .col-12 .carousel .carousel-inner .carousel-item .row .col-md-4 .card .card-body button{
    width: 100px;
    height: 40px;
    border-radius: 10px;
    border-color:#00764C;
    background-color: white;
    float: right;   
    color:#00764C;
}

.row .col-12 .carousel .carousel-inner .carousel-item .row .col-md-4 .card .card-body button:hover{
    background-color: #00764C;
    color: white;
}

.row .col-12 .carousel .carousel-inner .carousel-item .row .col-md-4 .card img{
    width: 100%;    
    height: 300px;
}

/* ! popup */
.rows{
  width: 101%;                   
}
.text .fc{
  letter-spacing: 3px;
  font-family: 'Open Sans', sans-serif;
  font-size: 45px;
  position: inline;
  margin-top: 220px;
  padding-left: 210px;
}
input[type="text"],
input[type="password"]{
  width: 240px;
  height: 30px;
  outline: none;
  border: 0.5px solid #222;
  border-radius: 5px;
  margin-bottom: 10px;
  margin-top: 0px;
  font-size: 16px;
  padding-left: 10px;
}
.button-Tao-Don-Hang{
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 40px;
  padding-right: 40px;
  color: #00764C;
  border: 2px solid #00764C;
  text-decoration: none;
  border-radius: 10px;
  background: white;
  margin-left: 30px;
  margin-top: 10px;
}
.button-Tao-Don-Hang:hover{
  background:#00764C;
  color: #fff;
}

.button-Tao-Ma-Giam-Gia{
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 40px;
  padding-right: 40px;
  float:right;
  color: #00764C;
  border: 2px solid #00764C;
  text-decoration: none;
  border-radius: 10px;
  background: white;
  margin-left: 30px;
  margin-top: -45px;
}
.button-Tao-Ma-Giam-Gia:hover{
  background:#00764C;
  color: #fff;
}


.button-Tao-Vat-Pham{
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 40px;
  padding-right: 40px;
  color: #00764C;
  border: 2px solid #00764C;
  text-decoration: none;
  border-radius: 10px;
  background: white;
  margin-left: 30px;
  margin-top: -45px;
  float:right;
}
.button-Tao-Vat-Pham:hover{
  background:#00764C;
  color: #fff;
}

img{
  margin-left: 550px;
  margin-top: -295px;
}
.modal-title{
  margin-left: 140px;
  font-size: 45px;
  letter-spacing: 2px;
  font-family: 'Open sans', sans-serif;
}
.modal-body{
  margin-left: 120px;
}
.btn{
  margin-top: 10px;
  width: 240px;
}
.foot{
  margin-bottom: 20px;
}
.new-acc{
  text-decoration: none;
  position: relative;
  font-size: 16px;
  color: gray;
  top: 20px;
}
.new-acc:hover{
  color: #ff0000;
}


.CD ul a { 
  margin-left: 160px;
  color: #527C88;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
  line-height: 20px;
}

footer {
  background-color: #201c1c;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
footer .info{
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.contact_us h1 b{
  font-family: 'Open Sans', sans-serif;
  color: #fff;
  font-weight: 900;
  font-size: 32px;
}

.contact_us h3 {
  font-family: 'Open Sans', sans-serif;
  color: white;
  font-weight: 10; 
  font-size: 18px;
}

.SM h1 b{
  color: #527C88;
  font-size: 20px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 900;
  line-height: 28px;
  letter-spacing: 0.6px;
}

.home__social {
  display: flex;
}
.home__social-icon {
  width: max-content;
  font-size: 24px;
  color: #fff;
  transition: 0.5s;
  margin-left: 10px;
}
.home__social-icon:hover {
  color: #6aa040;
}

.end {
  color:white;
  text-align:center;
  font-size: 10px;
}

header {
  background-color: #fff;
  box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
  position: fixed;
  width: 100%;
  z-index: 3;
}

header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: #fff;
}

header li a {
  display: block;
  border-right: 1px solid #f4f4f4;
  text-decoration: none;
  margin-left: 10px;
}

header .logo {
  display: block;
  float: left;
  font-size: 2em;
  padding: 10px 20px;
  text-decoration: none;
}
header .menu {
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* menu icon */

header .menu-icon {
  cursor: pointer;
  float: right;
  margin-right: 30px;
  padding: 21px;
  position: relative;
  user-select: none;
}

header .menu-icon .navicon {
  background: #333;
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
}

header .menu-icon .navicon:before,
header .menu-icon .navicon:after {
  background: #333;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

header .menu-icon .navicon:before {
  top: 5px;
}

header .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */
header .menu-btn {
  display: none;
}

header .menu-btn:checked ~ .menu {
  max-height: 240px;
}

header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

/* responsive */
@media screen and (min-width: 1000px) {
  header li {
      float: left;
  }
  header .menu {
      clear: none;
      float: right;
      max-height: none;
  }
  header .menu-icon {
      display: none;
  }
}
@media screen and (max-width: 1000px) {
  .menu {
      flex-direction: column;
      align-items: start;
  }
  .menu li {
      margin-left: 30px;
      align-self: flex-start;
      margin-bottom: 15px;
  }
  .menu li a {
      padding: 0px;
      margin-left: 0px;
  }
  lienhe {
      margin-left: 30px;
      margin-top: 15px;
      margin-bottom: 15px;
      align-self: flex-start;
  }
}

@media screen and (max-width: 600px) {
  .info {
      flex-direction: column;
  }
  .contact_us h3, h1 {
      text-align: center;
  }
  .home__social {
      justify-content: center;
  }
}