<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>GreenLive</title>
    <link rel="stylesheet" href="style/homepage.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
    <link rel="icon" type="image/x-icon" href="img/icon.png">
</head>

<body>
    <header>
        <greenlive>
            <a href="#">GREENLIVE</a>
        </greenlive>
        <div class="nut-dang-nhap">
            <a href="login.html">
                <button class=”myButton2”>ĐĂNG NHẬP</button>
            </a>
        </div>
        <div class="nut-dang-ki">
            <a href="register.html">
                <button class=”myButton”>ĐĂNG KÍ</button>
            </a>
        </div>
        <lienhe>
            LIÊN HỆ <b>0388029188</b>
        </lienhe>
    </header>
    <div class="container">
        <img src="img/slider.jpg" alt="">
        <div class="gioithieu">
            <h1>
                GIỚI THIỆU VỀ GREENLIVE
            </h1>
            <h3>
                
            </h3>
        </div>
        <article>
            <h3>
                Sứ mệnh <br>
            </h3>
            <div class="rec">
            </div>
            <img src="img/Picture1.png" alt="">
            <div class="content">
                "Lorem ipsum dolor sit amet, consectetur 
                adipiscing elit, sed do eiusmod tempor 
                incididunt ut labore et dolore magna 
                aliqua. Ut enim ad minim veniam, quis 
                nostrud exercitation ullamco laboris nisi 
                ut aliquip ex ea commodo consequat. 
            </div>
        </article>  
        <br>
        <div class="CD">
            <ul><a href="#">Cộng đồng</a></ul>
        </div>
        <br><br><br><br>
    </div>              
    <footer>
        <div class="contact_us">
            <h1>
                <b>Contact Us</b>
            </h1> 
            <h3>
                Đại diện nhóm 6: Nguyễn Mai Nhật Anh <br> SĐT: 0388029188 </br>
            </h3>
        </div>
        <div class="SM">
            <h1>
                <b>Social media</b>
            </h1>
        </div>
        <div class="home__social">
            <a href="https://www.facebook.com/minkalexvina/" target="_blank" class="home__social-icon"><i
                    class="fab fa-facebook"></i></a>
            <a href="https://www.instagram.com/minkalexvina/" target="_blank" class="home__social-icon"><i
                    class="fab fa-instagram"></i></a>
            <a href="http://youtube.com/c/minkalexvina/" target="_blank" class="home__social-icon"><i
                    class="fab fa-youtube"></i></a>
        </div>
        <div class="bg">
            
        </div>
        <div class="end">
            <br>
            Copyright @ GreenLive2023
        </div>
    </footer>                                                              
</body>
</html>